.hero-container {
  position: relative;
  height: 65vh;
  min-height: 400px;
  background-image: url("../../assets/hero-image.jpg");
  background-size: cover;
  background-position: center;
  justify-content: flex-start;
  background-color: #ebedee;
}

.hero-card-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-card {
  width: 400px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 34px;
  font-weight: 500;
  padding: 32px;
}

.hero-card button {
  margin-top: 32px;
}

.hero-overlay {
  position: absolute;
  background-image: url("../../assets/tear.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 50%;
}

.hero-card-phones {
  display: none;

  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding: 16px;
}
.hero-card-phones p {
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .hero-container {
    height: 25vh;
  }
  .hero-card {
    display: none;
  }
  .hero-card-phones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
