.offer-details-wrapper {
  min-height: calc(100vh - 120px);
  background-color: #ebedee;
}

.offer-details-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 20px;
}

.offer-img-container {
  width: 40%;
  height: 60vh;
}

.carousel-container {
  height: 100%;
}

.offer-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -webkit-user-drag: none;
  user-select: none;
}

.offer-infos {
  background-color: #fff;
  width: 30%;
  min-height: 60vh;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer-infos-price {
  margin-bottom: 20px;
  font-size: 20px;
}

.offer-infos-details-item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 5px;
}

.offer-infos-details-item > span {
  width: 50%;
}

.offer-infos-details-item > span:first-child {
  color: #bfbfbf;
}

.offer-infos-details-item > span:last-child {
  font-weight: 700;
}

.offer-infos-description p:first-child {
  font-weight: 600;
  margin-bottom: 10px;
}

.offer-infos-description p:last-child {
  color: #bfbfbf;
}

.offer-infos-owner {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.offer-infos-owner img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 8px;
}

@media screen and (max-width: 968px) {
  .offer-details-container {
    flex-direction: column;
    justify-content: start;
  }

  .offer-img-container {
    height: 50vh;
    width: 60%;
  }

  .offer-infos {
    margin-top: 20px;
    height: auto;
    width: 80%;
    min-height: 0;
  }

  .offer-infos-details-item,
  .offer-infos-description,
  .offer-infos-owner {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .offer-img-container {
    width: 80%;
  }
}
