header {
  background-color: #fff;
}

nav {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 44px;
  margin-right: 48px;
}

.filter-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 48px;
}

.search-container {
  min-height: 36px;
  display: flex;
  align-items: center;
  background-color: #f5f6f7;

  padding: 0 11px;
  border-radius: 3px;
}

.search-container input::placeholder {
  color: #c2c4c5;
}

.search-container input {
  width: 100%;
  font-size: 16px;
  background-color: #f5f6f7;
  border: none;
  outline: none;
  line-height: 2;
}

.all-filters-price {
  display: flex;
  align-items: center;
  padding: 25px 0 10px 0;
}

.all-filters-price span {
  font-size: 12px;
  margin-right: 15px;
}

.filter-sort {
  position: relative;
  width: 42px;
  height: 20px;
  margin-right: 25px;
  background-color: #2baeb7;
  border-radius: 10px;
  cursor: pointer;
}

.filter-sort::after {
  position: absolute;
  content: "⇡";
  min-width: 18px;
  min-height: 18px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  /* text-align: center; */
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  transition: transform 0.2s;
}

.isActive.filter-sort::after {
  transform: translate(90%, -50%) rotate(180deg);
}

.buttons-container {
  display: flex;
}

.buttons-container a {
  margin-right: 18px;
}

.buttons-container button:first-child {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
}
