header {
  background-color: #fff;
  position: relative;
}

nav {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 44px;
  margin-right: 48px;
}

.filter-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 48px;
}

.search-container {
  min-height: 36px;
  display: flex;
  align-items: center;
  background-color: #f5f6f7;
  margin-bottom: 5px;
  padding: 0 11px;
  border-radius: 3px;
}

.search-container input::placeholder {
  color: #c2c4c5;
}

.search-container input {
  width: 100%;
  font-size: 16px;
  background-color: #f5f6f7;
  border: none;
  outline: none;
  line-height: 2;
}

.all-filters-price {
  display: flex;
  align-items: center;
  padding: 25px 0 10px 0;
}

.all-filters-price span {
  font-size: 12px;
  margin-right: 15px;
}

.filter-sort {
  position: relative;
  width: 42px;
  height: 20px;
  margin-right: 25px;
  background-color: #2baeb7;
  border-radius: 10px;
  cursor: pointer;
}

.filter-sort::after {
  position: absolute;
  content: "⇡";
  min-width: 18px;
  min-height: 18px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  /* text-align: center; */
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  transition: transform 0.2s;
}

.isActive.filter-sort::after {
  transform: translate(90%, -50%) rotate(180deg);
}

.user {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.user img {
  margin-right: 5px;
  border-radius: 50%;
}

.buttons-container {
  display: flex;
}

.buttons-container a {
  margin-right: 18px;
}

.buttons-container button:first-child {
  margin-right: 8px;
}

.menu {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #089da4;
  pointer-events: none;
  transition: background-color 0.5s;
}

.menu::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #089da4;
  top: -7px;
  transform-origin: left;
  transition: transform 0.5s;
}

.menu::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #089da4;
  top: 7px;
  transform-origin: left;
  transition: transform 0.5s;
}

.menu-wrapper {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.menu-wrapper.active .menu {
  background-color: transparent;
}

.menu-wrapper.active .menu::before {
  opacity: 1;
  transform: translateY(-3.5px) rotate(45deg);
}

.menu-wrapper.active .menu::after {
  opacity: 1;
  transform: translateY(3.5px) rotate(-45deg);
}

.modal-container {
  position: fixed;
  z-index: 10;
  height: calc(100vh - 120px);
  width: 100%;
  top: 120px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-end;
  display: none;
}

.modal {
  height: 30%;
  width: auto;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.buttons-container-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 928px) {
  header {
    position: sticky;
    top: 0;
    z-index: 5;
  }

  /* .filter-container {
    display: none;
  } */

  .buttons-container {
    display: none;
  }

  .menu-wrapper {
    display: flex;
  }

  .filter-container {
    position: absolute;
    left: 20px;
    top: 120px;
    z-index: 15;
    width: 50%;
    display: none;
  }

  .all-filters-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 150px;
    padding: 0;
  }

  .all-filters-price > div:last-child {
    width: 80% !important;
    margin-top: 20px;
  }
}
